%- if @profile.errors.present? -%>
  <%- @profile.errors.full_messages.each do |error| -%>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<h1>enter the profile information</h1>

<div class="row">
  <div class="small-8 large-centered column">
    <%= form_for @profile do |f| %>

      <div class="field">
        <%= f.label :name, "name" %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :max_players, "maximum players" %>
        <%= f.number_field :max_players %>
      </div>

      <div class="field">
        <%= f.label :playing_time, "playing time (min)" %>
        <%= f.number_field :playing_time %>
      </div>

      <div class="field">
        <%= f.label :complexity, "complexity" %>
        <%= f.select :complexity, options_for_select(
          [['low',1],['medium',2],['high',3],['extreme',4]]
        ) %>
      </div>

    <%if current_user && current_user.has_authority? %>
      <div class="field">
        <%= f.label :amazon_html, "amazon html" %>
        <%= f.text_area :amazon_html %>
      </div>
    <%end%>

      <div class="field">
        <%= f.label :description, "description" %>
        <%= f.text_area :description %>
      </div>

      <%= image_tag(@profile.photo_url) if @profile.photo? %>
      <%= f.file_field :photo %>

      <div class="actions">
        <%= f.submit "add profile" %>
      </div>
    <% end %>
  </div>
</div>
